<button (click)="index = index + 1">Next char</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>IMG</th>
            <th>PRIX</th>
            <th>TYPE</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items |matPagination:page:size">
            <td>{{ item.id }}</td>
            <td>{{ item.nom |ucfirst }}</td>
            <td><img class="responsive-img" [src]="item.img"></td>
            <td>{{ item.prix }}</td>
            <td>{{ item.type |ucfirst }}</td>
            <td>
                <button class="btn" (click)="emitBuyEvent(item)">Acheter</button>
            </td>
        </tr>
    </tbody>
</table>
<select (change)="handleSizeChange($event)">
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="8">8</option>
    <option value="10">10</option>
</select>

<mat-pagination
    [length]="items.length"
    [sizePage]="size"
    [currentPage]="page"
    (selectPage)="handleSelectPage($event)"
    (previousPage)="handlePreviousPage()"
    (nextPage)="handleNextPage()"
></mat-pagination>