<ul>
    <li *ngFor="let entry of items.entries()">
        <ng-container *ngIf="entry[0] as key">
            <span>{{ key.id }} - {{ key.nom }} = </span>
            
            <ng-container *ngIf="entry[1] as value">
                {{ value }} => {{ key.prix * value }}
            </ng-container>
        </ng-container >&nbsp;
    </li>
</ul>

<p>Total du panier: {{ total }}</p>