<form [formGroup]="createForm" (ngSubmit)="handleSubmit()">
    <mat-input formControlName="nom" label="Nom">
        <div class="error" *ngIf="createForm.get('nom')?.errors?.required">
            Le nom est obligatoire
        </div>
        <div class="error" *ngIf="createForm.get('nom')?.errors?.pattern">
            Le nom du produit doit commencer par PROD
        </div>
    </mat-input>
    <mat-input formControlName="prix" label="Prix unitaire" type="number">
        <div class="error" *ngIf="createForm.get('prix')?.errors?.required">
            Le prix est obligatoire
        </div>
        <div class="error" *ngIf="createForm.get('prix')?.errors?.min">
            Le montant minimal est de 0
        </div>
    </mat-input>
    <mat-input formControlName="type" label="Type de produit">
        <div class="error" *ngIf="createForm.get('type')?.errors?.required">
            Le type est obligatoire
        </div>
        <div class="error" *ngIf="createForm.get('type')?.errors?.in">
          {{ createForm.get('type')?.errors?.in }}
        </div>
    </mat-input>
    <mat-input formControlName="img" label="Image du produit">
        <div class="error" *ngIf="createForm.get('img')?.errors?.required">
            Le prix est obligatoire
        </div>
    </mat-input>
    <button type="submit" class="btn">Ajouter</button>
</form>
