<div class="input-field">
    <input
        [id]="id"
        [type]="type"
        [value]="value"
        (input)="fnChange($any($event.target).value)"
        (blur)="fnTouched($any($event.target).value)"
    >
    <label [for]="id">{{ label }}</label>
</div>

<ng-content></ng-content>